includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon # optional, enables latest checks

parameters:
    level: 7
    paths:
        - App

    # Composer autoloader
    bootstrapFiles:
        - vendor/autoload.php

    # Ignore specific errors
    ignoreErrors:
        - message: "#Unable to resolve the template type T in call to method App\\\\Core\\\\Container::get#"
        - message: "#Method App\\\\Core\\\\Container::get\\(\\) should return T of object but returns object#"
        - message: "#Parameter \\#1 \\$id of method App\\\\Core\\\\Container::get\\(\\) expects class-string<object>, string given#"

    # Exclude directories (e.g., cache, logs)
    excludePaths:
        - App/Views

    reportUnmatchedIgnoredErrors: false
